<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap-theme.min.css' />
  </head>
  <body>

    <form class="form-horizontal" role="form" action="/listing" method="POST">

      <input type="hidden" name="listing_url" id="listing_url" value="<%= data.listing_url || '' %>">

      <input type="hidden" name="image_url" id="image_url" value="<%= data.image_url || '' %>">

      <h2>Property Info</h2>
      <div class="form-group">
        <label for="listing_id" class="col-sm-2 control-label">Listing ID</label>
        <div class="col-sm-10">
          <input type=text name="listing_id" class="form-control" id="listing_id" placeholder="Listing ID" value="<%= data.listing_id || '' %>">
        </div>
      </div>

      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type=text name="address" class="form-control" id="address" placeholder="Address" value="<%= data.address || '' %>">
        </div>
      </div>

      <div class="form-group">
          <label for="price" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-10">
            <input type=text name="price" class="form-control" id="price" placeholder="Price" value="<%= data.price || '' %>">
          </div>
      </div>

      <div class="form-group">
          <label for="bedrooms" class="col-sm-2 control-label">Bedrooms</label>
          <div class="col-sm-10">
            <input type=text name="bedrooms" class="form-control" id="bedrooms" placeholder="Bedrooms" value="<%= data.bedrooms || '' %>">
          </div>
      </div>

      <div class="form-group">
          <label for="bathrooms" class="col-sm-2 control-label">Bathrooms</label>
          <div class="col-sm-10">
            <input type=text name="bathrooms" class="form-control" id="bathrooms" placeholder="Bathrooms" value="<%= data.bathrooms || '' %>">
          </div>
      </div>


      <h2>Ratings</h2>

      <div class="form-group">
          <label for="rating_location" class="col-sm-2 control-label">Location</label>
          <div class="col-sm-10">
            <select name="rating_location" id="rating_location" class="form-control">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
          </select>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_size" class="col-sm-2 control-label">Size</label>
          <div class="col-sm-10">
            <select name="rating_size" id="rating_size" class="form-control">
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
            </select>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_look" class="col-sm-2 control-label">Look</label>
          <div class="col-sm-10">
            <select name="rating_look" id="rating_look" class="form-control">
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
            </select>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_yard" class="col-sm-2 control-label">Yard</label>
          <div class="col-sm-10">
            <select name="rating_yard" id="rating_yard" class="form-control">
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
            </select>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_kitchen" class="col-sm-2 control-label">Kitchen</label>
          <div class="col-sm-10">
            <select name="rating_kitchen" id="rating_kitchen" class="form-control">
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
            </select>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_affordability" class="col-sm-2 control-label">Affordability</label>
          <div class="col-sm-10">
            <select name="rating_affordability" id="rating_affordability" class="form-control">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
            </select>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_suite" class="col-sm-2 control-label">Suite</label>
          <div class="col-sm-10">
            <select name="rating_suite" id="rating_suite" class="form-control">
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
            </select>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_floors" class="col-sm-2 control-label">Floors</label>
          <div class="col-sm-10">
            <select name="rating_floors" id="rating_floors" class="form-control">
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
              <option>0</option>
            </select>
          </div>
      </div>

      <% if (creating === true) { %>
      <div class="form-group">
          <label for="comments_<%= data.person %>" class="col-sm-2 control-label">Comments</label>
          <div class="col-sm-10">
            <textarea name="comments_<%= data.person %>" class="form-control" id="comments_<%= data.person %>" rows="3"></textarea>
          </div>
      </div>
      <% } else { %>
      <div class="form-group">
          <label for="comments_graham" class="col-sm-2 control-label">Graham's Comments</label>
          <div class="col-sm-10">
            <textarea name="comments_graham" class="form-control" id="comments_graham" rows="3"><%= data.comments_graham || '' %></textarea>
          </div>
      </div>

      <div class="form-group">
          <label for="comments_eryn" class="col-sm-2 control-label">Eryn's Comments</label>
          <div class="col-sm-10">
            <textarea name="comments_eryn" class="form-control" id="comments_eryn" rows="3"><%= data.comments_eryn || '' %></textarea>
          </div>
      </div>

      <% } %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Save</button>
          <% if (creating === true) { %><button type="button" class="btn btn-danger" onclick="window.close()">Cancel</button> <% } %>
        </div>
      </div>
    </form>
  </body>
</html>