<%
  function generateSelect(max) {
    var buf = [];
    for (var i = max; i >= 0; i--) {
        buf.push({"value":i,"text":i});
    }
    return buf;
  }
%>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap-theme.min.css' />
  </head>
  <body>
    <% if (mode === 'update') { %>
    <h3><a href="/">&#8592 Back to List</a></h3>
    <% } %>

    <form class="form-horizontal" role="form" action="/listing" method="POST">

      <input type="hidden" name="listing_url" id="listing_url" value="<%= data.listing_url || '' %>">
      <input type="hidden" name="image_url" id="image_url" value="<%= data.image_url || '' %>">
      <input type="hidden" id="mode" name="mode" value="<%= mode %>">


      <h2>Property Info</h2>
      <div class="form-group">
        <label for="listing_id" class="col-sm-2 control-label">Listing ID</label>
        <div class="col-sm-10">
          <input type=text name="listing_id" class="form-control" id="listing_id" placeholder="Listing ID" value="<%= data.listing_id || '' %>">
        </div>
      </div>

      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type=text name="address" class="form-control" id="address" placeholder="Address" value="<%= data.address || '' %>">
        </div>
      </div>

      <div class="form-group">
          <label for="price" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-10">
            <input type=text name="price" class="form-control" id="price" placeholder="Price" value="<%= data.price || '' %>">
          </div>
      </div>

      <div class="form-group">
          <label for="bedrooms" class="col-sm-2 control-label">Bedrooms</label>
          <div class="col-sm-10">
            <input type=text name="bedrooms" class="form-control" id="bedrooms" placeholder="Bedrooms" value="<%= data.bedrooms || '' %>">
          </div>
      </div>

      <div class="form-group">
          <label for="bathrooms" class="col-sm-2 control-label">Bathrooms</label>
          <div class="col-sm-10">
            <input type=text name="bathrooms" class="form-control" id="bathrooms" placeholder="Bathrooms" value="<%= data.bathrooms || '' %>">
          </div>
      </div>


      <h2>Ratings</h2>

      <div class="form-group">
          <label for="rating_location" class="col-sm-2 control-label">Location</label>
          <div class="col-sm-10">
            <%- select_tag("rating_location", generateSelect(10), {"value": data.rating_location || 0, "name": "rating_location", "class": "form-control"}) %>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_size" class="col-sm-2 control-label">Size</label>
          <div class="col-sm-10">
            <%- select_tag("rating_size", generateSelect(7), {"value": data.rating_size || 0, "name": "rating_size", "class": "form-control"}) %>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_look" class="col-sm-2 control-label">Look</label>
          <div class="col-sm-10">
            <%- select_tag("rating_look", generateSelect(5), {"value": data.rating_look || 0, "name": "rating_look", "class": "form-control"}) %>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_yard" class="col-sm-2 control-label">Yard</label>
          <div class="col-sm-10">
            <%- select_tag("rating_yard", generateSelect(4), {"value": data.rating_yard || 0, "name": "rating_yard", "class": "form-control"}) %>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_kitchen" class="col-sm-2 control-label">Kitchen</label>
          <div class="col-sm-10">
            <%- select_tag("rating_kitchen", generateSelect(5), {"value": data.rating_kitchen || 0, "name": "rating_kitchen", "class": "form-control"}) %>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_affordability" class="col-sm-2 control-label">Affordability</label>
          <div class="col-sm-10">
            <%- select_tag("rating_affordability", generateSelect(10), {"value": data.rating_affordability || 0, "name": "rating_affordability", "class": "form-control"}) %>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_suite" class="col-sm-2 control-label">Suite</label>
          <div class="col-sm-10">
            <%- select_tag("rating_suite", generateSelect(5), {"value": data.rating_suite || 0, "name": "rating_suite", "class": "form-control"}) %>
          </div>
      </div>

      <div class="form-group">
          <label for="rating_floors" class="col-sm-2 control-label">Floors</label>
          <div class="col-sm-10">
            <%- select_tag("rating_floors", generateSelect(4), {"value": data.rating_floors || 0, "name": "rating_floors", "class": "form-control"}) %>
          </div>
      </div>

      <% if (mode === 'create') { %>
      <div class="form-group">
          <label for="comments_<%= data.person %>" class="col-sm-2 control-label">Comments</label>
          <div class="col-sm-10">
            <textarea name="comments_<%= data.person %>" class="form-control" id="comments_<%= data.person %>" rows="3"></textarea>
          </div>
      </div>
      <% } else { %>
      <div class="form-group">
          <label for="comments_graham" class="col-sm-2 control-label">Graham's Comments</label>
          <div class="col-sm-10">
            <textarea name="comments_graham" class="form-control" id="comments_graham" rows="3"><%= data.comments_graham || '' %></textarea>
          </div>
      </div>

      <div class="form-group">
          <label for="comments_eryn" class="col-sm-2 control-label">Eryn's Comments</label>
          <div class="col-sm-10">
            <textarea name="comments_eryn" class="form-control" id="comments_eryn" rows="3"><%= data.comments_eryn || '' %></textarea>
          </div>
      </div>

      <% } %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Save</button>
          <% if (mode === 'create') { %><button type="button" class="btn btn-danger" onclick="window.close()">Cancel</button> <% } %>
        </div>
      </div>
    </form>

  </body>
</html>