<!DOCTYPE html>
<html>
  <head>
    <title>Saved Listings</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap-theme.min.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap-sortable.css" />
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/bootstrap-sortable.js"></script>
  </head>
  <body>
    <h1>Saved Listings</h1>

    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th></th>
                <th>Listing ID</th>
                <th data-defaultsort='disabled'>Address</th>
                <th>Price</th>
                <th>Beds</th>
                <th>Baths</th>
                <th>Location (/10)</th>
                <th>Size (/7)</th>
                <th>Look (/5)</th>
                <th>Yard (/4)</th>
                <th>Kitchen (/5)</th>
                <th>Affordability (/10)</th>
                <th>Suite (/5)</th>
                <th>Floors (/4)</th>
                <th data-defaultsort="desc">Total Score</th>
                <th data-defaultsort='disabled'>Graham's Comments</th>
                <th data-defaultsort='disabled'>Eryn's Comments</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        <% listings.forEach(function(listing) { %>
            <tr>
                <td><img class="listing_image" src="<%= listing.image_url %>" alt=""></td>
                <td><a href="<%= listing.listing_url %>"><%= listing.listing_id %></a></td>
                <td><a href="https://www.google.com/maps?q=<%= listing.address %>"><%= listing.address.split(',')[0] %></a></td>
                <td><%= listing.price %></td>
                <td><%= listing.bedrooms %></td>
                <td><%= listing.bathrooms %></td>
                <td><%= listing.rating_location %></td>
                <td><%= listing.rating_size %></td>
                <td><%= listing.rating_look %></td>
                <td><%= listing.rating_yard %></td>
                <td><%= listing.rating_kitchen %></td>
                <td><%= listing.rating_affordability %></td>
                <td><%= listing.rating_suite %></td>
                <td><%= listing.rating_floors %></td>
                <td><%= listing.total_score %></td>
                <td><%= listing.comments_graham || '' %></td>
                <td><%= listing.comments_eryn || '' %></td>
                <td><a href="/<%= listing.listing_id %>" class="btn btn-primary" role="button">Edit</a></td>

            </tr>
        <% }) %>
        </tbody>
    </table>

    <h2>Bookmarklets</h2>
    <p>Graham's Bookmarklet: <a href="javascript:(function()%7Bif%20(window.location.hostname%20!%3D%3D%20'beta.realtor.ca')%20%7Balert('Sorry%2C%20this%20only%20works%20on%20https%3A%2F%2Fbeta.realtor.ca')%3Breturn%20false%3B%7Dvar%20data%20%3D%20%7Blisting_id%3A%20%24('.m_property_dtl_info_hdr_lft_listingid').text().split('%3A')%5B1%5D.trim()%2Clisting_url%3A%20window.location.href%2Caddress%3A%20%24('.m_property_dtl_address_lft%20p').text()%2Cprice%3A%20%24('.m_property_dtl_info_hdr_lft_price').text().trim()%2Cbathrooms%3A%20%24('%23imgBathDetail').next().text()%2Cbedrooms%3A%20%24('%23imgBedDetail').next().text()%2Cimage_url%3A%20%24('.img_0%20img').attr('src')%2Cperson%3A%20'graham'%7D%3Bvar%20url%20%3D%20%22http%3A%2F%2Fhouses.grahamballantyne.com%2Fform%3F%22%20%2B%20%24.param(data)%3Bwindow.open(url%2C%20'Save%20Listing'%2C%20'scrollbars%3D1%2Cstatus%3D0%2Cresizable%3D0%2Clocation%3D0%2Ctoolbar%3D0%2Cwidth%3D768%2Cheight%3D900')%7D)()">Save MLS Listing</a></p>

    <p>Eryn's Bookmarklet: <a href="javascript:(function()%7Bif%20(window.location.hostname%20!%3D%3D%20'beta.realtor.ca')%20%7Balert('Sorry%2C%20this%20only%20works%20on%20https%3A%2F%2Fbeta.realtor.ca')%3Breturn%20false%3B%7Dvar%20data%20%3D%20%7Blisting_id%3A%20%24('.m_property_dtl_info_hdr_lft_listingid').text().split('%3A')%5B1%5D.trim()%2Clisting_url%3A%20window.location.href%2Caddress%3A%20%24('.m_property_dtl_address_lft%20p').text()%2Cprice%3A%20%24('.m_property_dtl_info_hdr_lft_price').text().trim()%2Cbathrooms%3A%20%24('%23imgBathDetail').next().text()%2Cbedrooms%3A%20%24('%23imgBedDetail').next().text()%2Cimage_url%3A%20%24('.img_0%20img').attr('src')%2Cperson%3A%20'eryn'%7D%3Bvar%20url%20%3D%20%22http%3A%2F%2Fhouses.grahamballantyne.com%2Fform%3F%22%20%2B%20%24.param(data)%3Bwindow.open(url%2C%20'Save%20Listing'%2C%20'scrollbars%3D1%2Cstatus%3D0%2Cresizable%3D0%2Clocation%3D0%2Ctoolbar%3D0%2Cwidth%3D768%2Cheight%3D900')%7D)()">Save MLS Listing</a></p>
  </body>
</html>